.card {
  background-color: #212529;
  border-radius: 19px 22px 0px 26px;
  -webkit-box-shadow: 25px 25px 0px 0px #e1eeff;
  box-shadow: 25px 25px 0px 0px #e1eeff;

  margin-top: 10em;
  height: 25em;

  label {
    color: #e1eeff;
  }
}

.button {
  display: flex;
  justify-content: center;
}

.closeButton {
  margin-top: 2vw;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 1024px) {
    margin-top: 3vw;
  }

  @media (max-width: 768px) {
    margin-top: 4vw;
  }

  @media (max-width: 500px) {
    margin-top: 7vw;
  }
}
